@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Fonts/Poppins-Regular.eot');
  src: local(), url(./assets/Fonts/Poppins-Regular.woff), url(./assets/Fonts/Poppins-Regular.woff2);
}
